<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="diagram" name="Defines a diagram type for designer" schema="schema/diagram.exsd"/>
   <extension-point id="palette" name="Designer palette" schema="schema/palette.exsd"/>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%Protope_graphical_editor_name"
            extensions="ui"
            icon="protope.gif"
            class="org.protope.designer.base.editor.DiagramEditor"
            contributorClass="org.protope.designer.base.editor.BaseActionBarContributor"
            id="org.protope.designer.PrototypeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Protope_category_name"
            id="org.protope.category">
      </category>
      <wizard
            name="%Protope_NewDesignDiagramWizard_name"
            icon="protope.gif"
            category="org.protope.category"
            class="org.protope.designer.wizard.NewDiagramWizard"
            id="org.protope.designer.wizard.new.diagram">
         <description>
            %Protope_NewDesignDiagramWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.protope.category"
            class="org.protope.designer.wizard.NewDesignProjectWizard"
            icon="protope.gif"
            id="org.protope.designer.wizard.new.project"
            name="%Protope_NewDesignProjectWizard_name">
         <description>
            %Protope_NewDesignProjectWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ui"
            id="org.protope.designer.ui">
         <action
               label="Print"
               class="org.protope.designer.base.actions.DiagramPrintAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.protope.designer.ui.print">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="Protope"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Protope UI Builder">
         <property
               name="appName"
               value="Protope UI Builder">
         </property>
      </product>
   </extension>
   <extension
         point="org.protope.designer.diagram">
      <diagram
            id="org.protope.designer.diagram.UI"
            name="UI Diagram">
         <paletteAssociation
               paletteID="org.protope.designer.palette.Web">
         </paletteAssociation>
      </diagram>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:new?after=additions">
         <command
               commandId="org.protope.designer.commands.newProject"
               icon="protope.gif"
               id="org.protope.designer.commands.newProject"
               label="%org.protope.designer.commands.newProject.label"
               tooltip="%org.protope.designer.commands.newProject.tooltip">
         </command>
         <command
               commandId="org.protope.designer.commands.newDiagram"
               icon="protope.gif"
               id="org.protope.designer.commands.newDiagram"
               label="%org.protope.designer.commands.newDiagram.label"
               tooltip="%org.protope.designer.commands.newDiagram.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="org.protope.designer.commands.exportImage"
               icon="protope.gif"
               id="org.protope.designer.commands.exportImage"
               label="%org.protope.designer.commands.exportImage.label"
               tooltip="%org.protope.designer.commands.exportImage.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file">
         <command
               commandId="org.protope.designer.commands.exportImage"
               icon="protope.gif"
               id="org.protope.designer.commands.exportImage"
               label="%org.protope.designer.commands.exportImage.label"
               tooltip="%org.protope.designer.commands.exportImage.tooltip">
            <visibleWhen>
               <instanceof
                     value="org.protope.designer.base.model.BaseDiagram">
               </instanceof>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.protope.designer.handler.NewDiagramHandler"
            id="org.protope.designer.commands.newDiagram"
            name="%org.protope.designer.commands.newDiagram">
      </command>
      <command
            defaultHandler="org.protope.designer.handler.NewProjectHandler"
            id="org.protope.designer.commands.newProject"
            name="%org.protope.designer.commands.newProject">
      </command>
      <command
            defaultHandler="org.protope.designer.handler.ExportImageHandler"
            description="%org.protope.designer.commands.exportImage.tooltip"
            id="org.protope.designer.commands.exportImage"
            name="%org.protope.designer.commands.exportImage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.protope.category"
            name="%Protope_category_name">
      </category>
      <wizard
            category="org.protope.category"
            class="org.protope.designer.wizard.ExportImageWizard"
            icon="protope.gif"
            id="org.protope.designer.wizard.exportImage"
            name="%Protope_ExportImageWizard_name">
         <description>
            %Protope_ExportImageWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
</plugin>
